<li id="appSpecificOneStarFeedback" class="feedback" style="display: none"></li>
<li id="appSpecificTwoStarFeedback" class="feedback" style="display: none">
  {msg meaning="Apps.tooMuchWorkError" desc="TODO"}You made me do a lot of work!  Could you try repeating fewer times?{/msg}
<li id="reinfFeedbackMsg" class="feedback" style="display: none">
  {msg meaning="Apps.reinfFeedbackMsg" desc="IBID"}Does this look like what you want? Hint: You can press the space key to see your drawing.{/msg}</li>
</li>
