<% var msg = require('../../build/en_us/i18n/turtle'); %>
<li id="appSpecificOneStarFeedback" class="feedback" style="display: none"></li>
<li id="appSpecificTwoStarFeedback" class="feedback" style="display: none">
  <%= msg.tooMuchWork() %>
</li>
<li id="reinfFeedbackMsg" class="feedback" style="display: none">
  <%= msg.reinfFeedbackMsg() %>
</li>
