body {
  background-color: #fff;
  font-family: 'Gotham A', 'Gotham B', sans-serif;
  font-weight: 400;
  margin-top: 0;
}
h1 {
  font-weight: 700;
  font-size: 140%;
}
h2 {
  font-weight: 500;
}
a {
  color: #0596CE;
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}
#blockly {
  position: absolute;
  bottom: 10px;
  box-shadow: 7px 7px 10px #888;
  margin-left: 415px;
}
#codeTextbox {
  position: absolute;
  bottom: 10px;
  box-shadow: 7px 7px 10px #888;
  margin-left: 415px;
  display: none;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 22px;
  line-height: 1.2;
  border: 4px solid #ddd;
}
#visualization {
  position: relative;
  top: 10px;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.launch {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: #fff;
  font-size: large;
  min-width: 96px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.launch {
  text-align: right;
}
button.launch>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}
input[type="radio"] {
  margin-left: 40px;
  margin-right: 10px;
}

/* Dialogs */
#help {
  padding: 0 10px;
}
#dialog {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
  z-index: 2;
}
#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
}
#dialogShadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}
.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#dialog button {
  min-width: 4em;
}
.feedback {
  font-size: 30px;
  font-family: Arial;
  margin: 20px 0px 20px 0px;
  line-height: 28px;
  color: #7E5BA0;
  font-weight: bold;
}
.linesOfCodeMsg {
  font-family: Arial;
  font-size: 20px;
  color: #5A6A73;
  margin-top: 35px;
}
.generatedCode {
  color: #7E5BA0;
  background-color: white;
  border: none;
  font-size: 14px
}
#hintBubble {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  width: 380px;
}
#hint {
  color: #fff;
  padding: 5px 1em;
  font-size: large;
}

/* Instructions. */
#bubble {
  color: white;
  width: 385px;
  padding: 7px;
  margin-bottom: 15px;
  border: 1px solid #CCB;
  border-radius: 6px;
  background-color: #1180BE;
  text-align: center;
}
