$cyan: #0094ca;
$charcoal: #5b6770;
$orange: #ffa400;
$purple: #7665a0;
$green: #b9bf15;
@mixin fill-container {
  height: 100%;
  width: auto;
}
@mixin font {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
}

body {
  @include font;
  background-color: #fff;
  font-weight: 400;
  margin-top: 0;
}
h1 {
  font-weight: 700;
  font-size: 140%;
}
h2 {
  font-weight: 500;
}
a {
  color: #0596CE;
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}
#blockly {
  position: absolute;
  bottom: 10px;
  margin-left: 415px;
}
#codeTextbox {
  position: absolute;
  bottom: 10px;
  box-shadow: 7px 7px 10px #888;
  margin-left: 415px;
  display: none;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 22px;
  line-height: 1.2;
  border: 4px solid #ddd;
}
#visualization {
  position: relative;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.launch {
  border: 1px solid #FFA000;
  background-color: #FFA000;
  color: #fff;
  font-size: large;
  min-width: 96px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.launch {
  text-align: right;
}
button.launch>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}
input[type="radio"] {
  margin-left: 40px;
  margin-right: 10px;
}

#gameButtons {
  margin-bottom: 10px;
}

/* Dialogs */
#help {
  padding: 0 10px;
  display: none;
}
#dialog {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
  z-index: 20000;
}
#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
}
#dialogShadow {
  @include fill-container;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}
.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.trophy {
  min-width:100px;
  text-align:center;
  vertical-align:top;
  display:inline-block;
  max-width:100px;
}
.trophyimg {
  width:80px;
  height:80px;
}
#dialog button {
  min-width: 4em;
}
.feedback {
  font-size: 30px;
  margin: 20px 0px 20px 0px;
  line-height: 28px;
  color: #7E5BA0;
  font-weight: bold;
}
.linesOfCodeMsg {
  font-size: 20px;
  color: #5A6A73;
  margin-top: 35px;
}
#hintBubble {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  width: 380px;
}
#hint {
  color: #fff;
  padding: 5px 1em;
  font-size: large;
}

/* Instructions. */
#bubble {
  color: black;
  width: 385px;
}

#prompt-icon {
  width: 30px;
  margin-right: 5px;
  height: auto;
  float: left;
}

#prompt {
  display: table-cell;
}

#headers {
  $height: 40px;
  background-color: $purple;
  div {
    display: inline-block;
    margin-right: -4px;
  }
  .blockly-header {
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    height: $height;
    span {
      color: white;
      line-height: $height;
    }
  }
  #toolbox-header {
    border-right: 1px solid gray;
  }
  #show-code-header {
    cursor: pointer;
    width: 150px;
    border-left: 1px solid gray;
    &:hover {
      background-color: $cyan;
    }
  }
  .block-counter-default {
    color: white;
  }
  .block-counter-overflow {
    color: #ffb81d;
  }
}

.qtip-content {
  font-size: 20px;
  line-height: 28px;
  color: #7E5BA0;
  font-weight: 500;
}

.qtip-default {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
}

#rotateContainer {
  position: fixed;
  z-index: 10001;
  background-color: white;
  top: 0;
  left: 0;
  display: none;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;

  #rotationText {
    position: absolute;
    top: 50%;
  }

  p {
    text-align: center;
    margin-right: 150px;
    margin-left: -150px;
    display: inline-block;
    font-size: 26px;
    line-height: 26px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }

  @media screen and (orientation: portrait) and (max-device-width: 900px) {
    display: block;
  }
}

.blocklyText {
  @include font;
}

.generated-code-container {
  margin-top: 10px;
  .generatedCodeMessage {
    font-size: 14px;
    color: $charcoal;
  }
  .generatedCode {
    font-size: 14px;
  }
}

$modal-image-width: 100px;
$modal-image-margin-gap: 10px;

.modal-content {
  margin-left: $modal-image-width + $modal-image-margin-gap;
  p, pre {
    line-height: 24px;
    font-size: 24px;
    color: $purple;
  }
  .congrats {
    font-size: 30px;
    line-height: 30px;
  }

  .instruction-image {
    width: 40%;
    height: auto;
    float: left;
  }

  .instruction-with-image {
    padding-left: 42%
  }

  .feedback-image {
    width: 40%;
    height: auto;
    padding-left: 20%;
    padding-bottom: 5px
  }
}

.dialog-title {
  font-weight: bold;
}

#ok-button {
  background-color: $orange;
  color: white;
}

#again-button {
  background-color: $green;
  color: white;
}

#continue-button {
  background-color: $orange;
  color: white;
}

.modal-image {
  width: $modal-image-width;
  height: auto;
  margin-top: -60px;
  float: left;
}
.modal-header {
  border: none;
  height: 20px;
}
.modal-body {
  height: 100%;
  overflow: visible;
  > .ui-tabs {
    overflow-y: scroll;
  }
}
#feedbackBlocks {
  margin-left: 50px;
  height: 100px;
  border: none;
}
