body {
  background-color: #fff;
  font-family: sans-serif;
  margin-top: 0;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
a:hover {
  color: #f00;
}
.farSide {
  text-align: right;
}
html[dir="RTL"] .farSide {
  text-align: left;
}
#blockly {
  position: absolute;
  bottom: 10px;
  box-shadow: 7px 7px 10px #888;
  margin-left: 415px;
}
#visualization {
  position: relative;
  top: 10px;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.launch {
  border: 1px solid #0DA38A;
  background-color: #0DA38A;
  color: #fff;
  font-size: large;
  min-width: 96px;
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.launch {
  text-align: right;
}
button.launch>img {
  opacity: 1;
  vertical-align: text-bottom;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}
input[type="radio"] {
  margin-left: 40px;
  margin-right: 10px;
}

/* Dialogs */
#help {
  padding: 0 10px;
}
#dialog {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  position: absolute;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #888;
  padding: 10px;
  z-index: 2;
}
#dialogBorder {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #888;
}
#dialogShadow {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
}
.dialogAnimate {
  transition-property: width height left top opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.dialogHiddenContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#dialog button {
  min-width: 4em;
}
.levelFeedbackText {
  border: 0;
  text-align: center;
  overflow: hidden;
  font-size: 16pt;
  font-family: Arial;
  margin: 30px 10px;
  padding-left: 40px;
  line-height: 28px;
}
.feedback {
  line-height: 28px;
}
.generatedCode {
  width: '40%';
  left: '30%';
  top: '5em';
}
#hintBubble {
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 15px;
  background-color: rgba(64,64,64,0.7);
  width: 380px;
}
#hint {
  color: #fff;
  padding: 5px 1em;
  font-size: large;
}
