<% var msg = require('../../locale/current/common'); %>

<% var okButton = function() { -%>
  <div class="farSide" style="padding: 1ex 3ex 0">
    <button id="ok-button" class="secondary">
      <%= msg.dialogOK() %>
    </button>
  </div>
<% }; -%>

<% var tryAgainButton = function() { -%>
    <button id="again-button" class="launch">
      <%= msg.tryAgain() %>
    </button>
<% }; -%>

<% var continueButton = function() { -%>
  <button id="continue-button" class="launch">
    <%= msg.continue() %>
  </button>
<% }; -%>


<% if (data.ok) {
  okButton();
}; %>

<% if (data.tryAgain) {
  tryAgainButton();
}; %>

<% if (data.nextLevel) {
  continueButton();
}; %>
