<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blockly</title>
  <script type="text/javascript" src="<%= assetUrl('js/' + options.locale + '/vendor.js') %>"></script>
  <script type="text/javascript" src="<%= assetUrl('js/' + options.locale + '/' + app + '.js') %>"></script>
  <script type="text/javascript">
    <%= app %>Main(<%-: options | json %>);
  </script>
  <style>
    html, body {
      background-color: #fff;
      margin: 0;
      padding:0;
      overflow: hidden;
      height: 100%;
    }
    #blockly>svg {
      border: none;
    }
    #blockly {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  </style>
</head>
<body>
  <div id="blockly"></div>
</body>
</html>
