$root: '/blockly/media/maze/'; //TODO: Parameterize for asset pipeline

body {
  background-color: #F2F2F2;
  margin-top: 0;
}

#visualization {
  margin-bottom: 10px;
  position: relative;
  top: 10px;
  float: left;
}

#svgMaze {
  border: solid 1px #DBDBDB;
}
#shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
}

/* 'Look' icon */
#look>path {
  display: none;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7;
}

/* Buttons */
button.disabled, button[disabled=disabled] {
  border: 1px solid #C7C7C7;
  background-color: #C7C7C7;
  box-shadow: none;
}
#helpButton {
  margin: 5px 0;
  height: 40px;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("#{$root}icons.png");
}
.code {
  background-position: -21px 0px;
}
.link {
  background-position: 0px 0px;
}
.run {
  background-position: 0px -21px;
  padding-right: 3px;
}
.stop {
  background-position: -21px -21px;
  padding-right: 3px;
}

.hide {
  display: none;
}
#gameButtons {
  clear: left;
}
